*{
    margin: 0%;
    padding: 0%;
    box-sizing:content-box;
}

header{
    margin:0%;
    padding: 0%;
    background-color: black;
    width: 840px;
    height: 100px;
}

header img{
    position: absolute;
    margin-top: 15px;
    margin-left: 10px;
}

header label{ 
position: absolute;
color: aliceblue;
display: block;
margin-left: 100px;
margin-top: 22px;
font-size:xx-small
}

main{
    margin-bottom: 50px;
    padding: 0%;
    display: inline-block;
}

main h3{
text-align: center;
margin-top: 30px;
margin-bottom: 30px;
}

main section form{
    padding: 10px;
    box-sizing:content-box;
}

main section .cajauno{
    width: 400px;
    height: 400px;
    background-color: rgb(227, 255, 246);
    float: left;
    }
    

main section form ul{
    width: 380px;
    margin-left: 10px;
}

main section form ul input{
    width: 360px;
    margin-left: 10px;
    border: 3px inset rgba(100, 100, 100, 1);
    border-radius: 2px;
    padding: 2px;
}

main section form ul button{
    padding: 3px; 
    border: 4px outset rgba(100, 100, 100, 1);
    border-radius: 10px;
    margin-left: 14%;
}

main section form ul button:hover{
    color: black;
}

main .cajados{
    width: 400px;
    height: 400px;
    background-color: rgb(227, 255, 246);
    float: right;
    padding: 10px;
}

main .cajados p{
    margin-top: 20px;
    text-align: center;
    
}

main .cajados img{
    margin-left: 20%;
}

footer{
    width: 840px;
    background-color: black;
    height: 60px;
}

.redes{
position: absolute;
margin-top: 10px;
margin-left: 20px;
}

