*{
    margin: 0%;
    padding: 0%;
    box-sizing:content-box;
}

header{
    background-image: url(ImagenesLab2/pizza.jpg);
    width: 100%;
    height: 300px;
    background-size: cover;
}


ul.opc{
    float:right ;
    margin-top: 15%;
    margin-right: 4%;
    margin-left: 4%;
}

ul.opc li{
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    position: relative;
    display: inline-block;

}

ul.opc li a{
    display: block;
    width: 300px;
    padding: 5px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10x;
    background-color:#0c0c0a;
    text-align: center;
    text-decoration: none;
    color: blanchedalmond;
    font-size:large;
    font-family: gstatic;
    border: 5px outset rgba(100, 100, 100, 1);
    border-radius: 6px;
}
ul.opc li a:hover{
    background-color:#2d393a;
}
.submenu{
    position:absolute;
    background-color: #0c0c0b;
    width: 110%;
    display: none;
    border: 5px outset rgba(100, 100, 100, 1);
    border-radius: 6px;
    margin-top: 20px;
}

.submenu li a{
    display: block;
    padding: 10px;
    font-family: gstatic;
    text-decoration: none;
    z-index: 1000;
}

.opc li:hover .submenu{
    display: block;
}

#navegacion{
    width: 100%;
    height: 80px;
}

body{
    background-image: url(ImagenesLab2/body.jpg); 
    max-width: 100%;
}

main{
    margin:0%;
    padding: 0%;
    background-color: antiquewhite;
    width: 100%;
}

main aside{
    background-color: rgb(255, 255, 255);
    width: 30%;
    height: 600px;
    float: left;
}

.productos{
    background-color: rgb(255, 255, 255);
    width: 70%;
    height: 600px;

    display: inline-block;
    float: right;
}

.img{

    display: grid;
    grid-template-rows: 170px 170px;
    grid-template-columns: 220px 220px 220px;
    margin-top: 5%;
    margin-left: 18%;
    cursor: pointer;
    transition: all .5s ease-in-out;
    text-align: center;
}

body main aside h3{
    position: absolute;
    margin-top:2%; 
    margin-left: 10%;
}

body main aside p{
    width: 30%;
    position: absolute;
    text-align: center;
    margin-top:2%; 
}


/*Formulario*/

#N{
    margin-top: 100px;
    margin-left: 15px;
    border: 5px outset rgba(100, 100, 100, 1);
    border-radius: 20px;
    padding: 20px;
}

ul.opc li{
    margin-left: 10px;
}

/* Footer*/

footer{
    background-color: black;
    width: 100%;
    height: 100px;
    clear: both;
}

footer .redes{
    margin-top: 2%;
    position: relative;
    margin-right: 4%;
    float: right;
}